<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header><h2>About Me</h2><a href="/">Back</a></header>
  <main>
    <h3>Education</h3>
    <p>B.Tech in Artificial Intelligence & Data Science, Annamacharya Institute of Technology & Sciences, Tirupati - 80%</p>
    
    <h3>Technical Skills</h3>
    <ul>
      <li>Python, HTML, CSS, JavaScript, Node.js, React.js</li>
      <li>MySQL, PowerBI, Git</li>
      <li>TensorFlow, Scikit-learn, XGBoost, NLTK, LightGBM</li>
    </ul>
  </main>
</body>
</html>
